<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raisetech.message.mapper.MessageChannelWecomMapper">
    <resultMap type="com.raisetech.message.domain.config.PortalMessageChannelWecom" id="WecomResult">
        <result property="configId" column="config_id"/>
        <result property="channelId" column="channel_id"/>
        <result property="wecomType" column="wecom_type"/>
        <result property="corpId" column="corp_id"/>
        <result property="agentId" column="agent_id"/>
        <result property="agentSecret" column="agent_secret"/>
        <result property="webhookUrl" column="webhook_url"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <sql id="selectWecomVo">
        select config_id, channel_id, wecom_type, corp_id, agent_id, agent_secret, webhook_url, del_flag, create_by, create_time, update_by, update_time
        from portal_message_channel_wecom
    </sql>
    <select id="selectMessageChannelWecomList" parameterType="com.raisetech.message.domain.config.PortalMessageChannelWecom" resultMap="WecomResult">
        <include refid="selectWecomVo"/>
        <where>del_flag = '0'
            <if test="channelId != null">and channel_id = #{channelId}</if>
            <if test="wecomType != null and wecomType != ''">and wecom_type = #{wecomType}</if>
        </where>
    </select>
    <select id="selectMessageChannelWecomByConfigId" parameterType="Long" resultMap="WecomResult"><include refid="selectWecomVo"/> where config_id = #{configId}</select>
    <select id="selectMessageChannelWecomByChannelId" parameterType="Long" resultMap="WecomResult"><include refid="selectWecomVo"/> where channel_id = #{channelId} and del_flag = '0'</select>
    <insert id="insertMessageChannelWecom" parameterType="com.raisetech.message.domain.config.PortalMessageChannelWecom" useGeneratedKeys="true" keyProperty="configId">
        insert into portal_message_channel_wecom <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="channelId != null">channel_id,</if>
            <if test="wecomType != null">wecom_type,</if>
            <if test="corpId != null">corp_id,</if>
            <if test="agentId != null">agent_id,</if>
            <if test="agentSecret != null">agent_secret,</if>
            <if test="webhookUrl != null">webhook_url,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim><trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="channelId != null">#{channelId},</if>
            <if test="wecomType != null">#{wecomType},</if>
            <if test="corpId != null">#{corpId},</if>
            <if test="agentId != null">#{agentId},</if>
            <if test="agentSecret != null">#{agentSecret},</if>
            <if test="webhookUrl != null">#{webhookUrl},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>
    <update id="updateMessageChannelWecom" parameterType="com.raisetech.message.domain.config.PortalMessageChannelWecom">
        update portal_message_channel_wecom <set>
            <if test="wecomType != null">wecom_type = #{wecomType},</if>
            <if test="corpId != null">corp_id = #{corpId},</if>
            <if test="agentId != null">agent_id = #{agentId},</if>
            <if test="agentSecret != null">agent_secret = #{agentSecret},</if>
            <if test="webhookUrl != null">webhook_url = #{webhookUrl},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set> where config_id = #{configId}
    </update>
    <delete id="deleteMessageChannelWecomByConfigId" parameterType="Long">update portal_message_channel_wecom set del_flag = '1' where config_id = #{configId}</delete>
    <delete id="deleteMessageChannelWecomByChannelId" parameterType="Long">update portal_message_channel_wecom set del_flag = '1' where channel_id = #{channelId}</delete>
</mapper>