<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raisetech.message.mapper.MessageChannelFeishuMapper">
    <resultMap type="com.raisetech.message.domain.config.PortalMessageChannelFeishu" id="FeishuResult">
        <result property="configId" column="config_id"/>
        <result property="channelId" column="channel_id"/>
        <result property="feishuType" column="feishu_type"/>
        <result property="appId" column="app_id"/>
        <result property="appSecret" column="app_secret"/>
        <result property="tenantKey" column="tenant_key"/>
        <result property="webhookUrl" column="webhook_url"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <sql id="selectFeishuVo">
        select config_id, channel_id, feishu_type, app_id, app_secret, tenant_key, webhook_url, del_flag, create_by, create_time, update_by, update_time
        from portal_message_channel_feishu
    </sql>
    <select id="selectMessageChannelFeishuList" parameterType="com.raisetech.message.domain.config.PortalMessageChannelFeishu" resultMap="FeishuResult">
        <include refid="selectFeishuVo"/>
        <where>del_flag = '0'
            <if test="channelId != null">and channel_id = #{channelId}</if>
            <if test="feishuType != null and feishuType != ''">and feishu_type = #{feishuType}</if>
        </where>
    </select>
    <select id="selectMessageChannelFeishuByConfigId" parameterType="Long" resultMap="FeishuResult"><include refid="selectFeishuVo"/> where config_id = #{configId}</select>
    <select id="selectMessageChannelFeishuByChannelId" parameterType="Long" resultMap="FeishuResult"><include refid="selectFeishuVo"/> where channel_id = #{channelId} and del_flag = '0'</select>
    <insert id="insertMessageChannelFeishu" parameterType="com.raisetech.message.domain.config.PortalMessageChannelFeishu" useGeneratedKeys="true" keyProperty="configId">
        insert into portal_message_channel_feishu <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="channelId != null">channel_id,</if>
            <if test="feishuType != null">feishu_type,</if>
            <if test="appId != null">app_id,</if>
            <if test="appSecret != null">app_secret,</if>
            <if test="tenantKey != null">tenant_key,</if>
            <if test="webhookUrl != null">webhook_url,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim><trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="channelId != null">#{channelId},</if>
            <if test="feishuType != null">#{feishuType},</if>
            <if test="appId != null">#{appId},</if>
            <if test="appSecret != null">#{appSecret},</if>
            <if test="tenantKey != null">#{tenantKey},</if>
            <if test="webhookUrl != null">#{webhookUrl},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>
    <update id="updateMessageChannelFeishu" parameterType="com.raisetech.message.domain.config.PortalMessageChannelFeishu">
        update portal_message_channel_feishu <set>
            <if test="feishuType != null">feishu_type = #{feishuType},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="appSecret != null">app_secret = #{appSecret},</if>
            <if test="tenantKey != null">tenant_key = #{tenantKey},</if>
            <if test="webhookUrl != null">webhook_url = #{webhookUrl},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set> where config_id = #{configId}
    </update>
    <delete id="deleteMessageChannelFeishuByConfigId" parameterType="Long">update portal_message_channel_feishu set del_flag = '1' where config_id = #{configId}</delete>
    <delete id="deleteMessageChannelFeishuByChannelId" parameterType="Long">update portal_message_channel_feishu set del_flag = '1' where channel_id = #{channelId}</delete>
</mapper>